<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Inventory Manager | Meeples&LittlePeoples</title>
<meta name="description" content="Wiki project about HTML and CSS to practice HTML and CSS. This is literally a 'meta' description. "/>

<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8"> <!--Have to put the stylesheet in a "public" folder, same as this .erb file goes in the "views" folder -->

</head>

<header link="#000000" vlink="#000000" alink="#000000">

 <img class="imglogo" src="/logo.jpg" >
 

<h1 align="center">Inventory Manager | <em style="color: #778899">Meeples and Little Peoples</em></h1>
<hr></hr>
</header>
<body link="#000000" vlink="#000000" alink="#000000">
<div main text style="padding-left:25px">
<%= yield %>

<br><br>
</div maintext>
</body>
<hr>
<footer align="right" style="margin-right:10px;"> 
<h4 style="color: #778899">LINKS:</h4>
<h4><em><a href="http://localhost:4567/question_page">Home</a></em></h4>

</footer>



</html>